@keyframes slide-up-animation {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

@-webkit-keyframes slide-up-animation {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

.slide-up {
    animation: slide-up-animation 0.8s;
}

nav {
    background: rgba(255,255,255,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
}